<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles (Admin)</title>
    <link rel="icon" href="img/icon.jpg"> 
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Profiles (Admin)</h1>
</header>
<div id="div-nav" class="container">
    <a href="/admin_images"><img src="img/guitar.png" alt="guitar" class="logo" width="25px"></a> <!-- Adjusted image source -->
    <nav class="navbar">
        <ul class="ul-nav-left">
            <li class="li-nav">
                <a class="main-page-link" href="/adminDauren1748"><img class="img-nav" src="img/home.png" alt="home"><span>Home</span></a>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/rating_for_admin"><img class="img-nav" src="img/rating.png" alt="rating"><span>Rating</span></a>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/profiles_for_admin"><img class="img-nav" src="img/user.png" alt="user"><span>Profiles</span></a>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/achievements"><img class="img-nav" src="img/achiev.png" alt="achiev"><span>Achievement</span></a>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/admin_groups">
                    <img class="img-nav" src="img/group.png" alt="groups"><span>Groups</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
    <section class="cards">
        <% profiles.forEach(profile => { %>
            <div class="profile-card" onclick="showDetailsAndAddAchievement('<%= profile._id %>', '<%= profile.name %>', '<%= profile.details %>', '<%= profile.points %>' , '<%= profile.status %>','<%= profile.photo %>', '<%= JSON.stringify(profile.achievements) %>')">
                <img class="profile-img" src="<%= profile.photo %>" alt="<%= profile.name %>">
                <p style="font-weight: bold; "><%= profile.name %></p>
            </div>
        <% }); %>
    </section>
</div>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modal-details"></div>
        <form action="/profiles_for_admin/change_status" method="POST">
            <input type="hidden" id="profileId" name="profileId">
            <select name="status" id="status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="legend">Legend</option>
            </select>
            <button type="submit">Change Status</button>
        </form>
        

    
    </div>
</div>

<footer>
    <div id="footer" class="container">
        <p>© 2024 Apoyando</p>
    </div>
</footer>

<script>
    function showDetailsAndAddAchievement(profileId, name, details,points,status,photo, achievements) {
        var modal = document.getElementById("myModal");
        var modalDetails = document.getElementById("modal-details");

        if (modal && modalDetails) {
            // Display modal
            modal.style.display = "block";

            // Set profileId value
            document.getElementById("profileId").value = profileId;

            // Parse achievements from JSON string to array of objects
            var parsedAchievements = JSON.parse(achievements);

            // Populate modal with details
            modalDetails.innerHTML = "<h2>" + name + "</h2>" +
        "<img src='" + photo + "' alt='" + name + "' class='profile-img'>"+
        "<p>" + details + "</p>" +
        "<p>" + status + "</p>" +
        "<p>" + points + "</p>";

            // If there are achievements, add them to modal content
            if (parsedAchievements.length > 0) {
                var achievementsHTML = "<ul>";
                parsedAchievements.forEach(function (achievement) {
                    achievementsHTML += "<li data-tooltip='"+ achievement.achievement+ ". "+ achievement.description +".'>"+"<img src='"+ achievement.photo +"' alt='achievement' class='achievement-img'>" +"</li>";
                });
                achievementsHTML += "</ul>";
                modalDetails.innerHTML += achievementsHTML;
            }
        } else {
            console.error('Modal or modal details element not found');
        }
    }

    // Close modal function
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }
</script>

</body>
</html>
