<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <link rel="icon" href="img/icon.jpg"> 
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Рейтинг</h1>
</header>
<div id="div-nav" class="container">
    <a href="/"><img src="img/guitar.png" alt="guitar" class="logo" width="25px"></a> <!-- Adjusted image source -->
    <nav class="navbar">
        <ul class="ul-nav-left">
            <li class="li-nav" id="menu">
                <div class="dropdown">
                    <a class="main-page-link">
                        <img class="img-nav" src="img/menu-burger.png" style="vertical-align: bottom;"><span>Menu</span></a> <!-- Adjusted image source -->
                    <div class="dropdown-content">
                        <a class="main-page-link" href="/">
                            <img class="img-nav" src="img/home.png" alt="home"><span>Home</span>
                        </a>
                        <a class="main-page-link" href="/rating">
                            <img class="img-nav" src="img/rating.png" alt="rating"><span>Rating</span>
                        </a>
                        <a class="main-page-link" href="/profiles">
                            <img class="img-nav" src="img/user.png" alt="user"><span>Profiles</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/">
                    <img class="img-nav" src="img/home.png" alt="home"><span>Home</span>
                </a>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/rating">
                    <img class="img-nav" src="img/rating.png" alt="rating"><span>Rating</span>
                </a>
            </li>
            <li class="li-nav">
                <a class="main-page-link" href="/profiles">
                    <img class="img-nav" src="img/user.png" alt="user"><span>Profiles</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
    <section class="table-sec">
    <h2 id="year" style="text-align: center;"></h2>
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <% let customIndex = 1; %>
            <% profiles.forEach((profile) => { %>
                <% if (profile.status === 'active') { %>
                <tr onclick="showDetails('<%= profile.name %>', '<%= profile.details %>', '<%= profile.points %>','<%= profile.status %>' , '<%= profile.photo %>', '<%= JSON.stringify(profile.achievements) %>')" <% if (customIndex <= 3) { %> class="gold" <% } %>>
                    <td><%= customIndex %></td>
                    <td><%= profile.name %></td>
                    <td><%= profile.points %></td>
                </tr>
                <% customIndex++; %>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</section>
</div>
<div class="container">
    <section class="table-sec">
        <h2 style="text-align: center;">Легенды</h2>
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <% let customIndex1 = 1; %>
                <% profiles.forEach((profile) => { %>
                    <% if (profile.status === 'legend') { %>
                    <tr onclick="showDetails('<%= profile.name %>', '<%= profile.details %>', '<%= profile.points %>','<%= profile.status %>' , '<%= profile.photo %>', '<%= JSON.stringify(profile.achievements) %>')"  class="gold">
                        <td><%= customIndex1 %></td>
                        <td><%= profile.name %></td>
                        <td><%= profile.points %></td>
                    </tr>
                    <% customIndex++; %>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </section>
</div>
<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modal-details"></div>
    </div>
</div>
<footer>
    <div id="footer" class="container">
        <a href="Apoyando.html">© Apoyando</a>
        <ul>
            <li><a href="https://www.youtube.com/@beinesabaaq"><img src="img/youtube.png">Youtube</a></li>
            <li><a href="https://t.me/djdj742"><img src="img/telegram.png">Telegram</a></li>
            <li><a href="https://www.instagram.com/apoyandooo/"><img src="img/instagram.png">Instagram</a></li>
        </ul>
    </div>
</footer>

<script>
    // JavaScript function to show details in modal
    function showDetails(name, details,points,status, photo, achievements) {
    var modal = document.getElementById("myModal");
    var modalDetails = document.getElementById("modal-details");

    // Display modal
    modal.style.display = "block";

    // Parse achievements from JSON string to array of objects
    var parsedAchievements = JSON.parse(achievements);

    // Populate modal with details
    modalDetails.innerHTML = "<h2>" + name + "</h2>" +
        "<img src='" + photo + "' alt='" + name + "' class='profile-img'>"+
        "<p>" + details + "</p>" +
        "<p>" + status + "</p>" +
        "<p>" + points + "</p>";

    // If there are achievements, add them to modal content
    if (parsedAchievements.length > 0) {
        var achievementsHTML = "<ul>";
        parsedAchievements.forEach(function(achievement) {
            achievementsHTML += "<li data-tooltip='"+ achievement.achievement+ ". "+ achievement.description +".'>"+"<img src='"+ achievement.photo +"' alt='achievement' class='achievement-img'>" +"</li>";
        });
        achievementsHTML += "</ul>";
        modalDetails.innerHTML += achievementsHTML;
    }
}


    // Close modal function
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }
    // Получаем текущий год
    var currentYear = new Date().getFullYear();        
    document.getElementById("year").innerHTML = "Рейтинг "+currentYear;
</script>
</body>
</html>